<!doctype html>
<html>
<head>
  <title>Madlibs Game</title>
  <link rel="stylesheet"
        href="/static/madlibs.css">
</head>
<body>
    <h1>Select your madlibs words!</h1>
    <form action="/madlib">
        Select a color: <select name="color">
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
        </select>
        <br>
        Enter a noun:<input type="text" name="noun">
        <br>
        Select an adjective: <input type="checkbox" name="adjective" value="delicious">Delicious
        <input type="checkbox" name="adjective" value="dirty">Dirty
        <input type="checkbox" name="adjective" value="grumpy">Grumpy
        <input type="checkbox" name="adjective" value="salty">Salty
        <br>
        Write a person's name: <input type="text" name="person">
        <br>
        <input type="submit">
    </form>

</body>
</html>