<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Select your madlibs words!
    <form action="/madlib">
        Select a color: <select name="color">
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
        </select>
        <br>
        Enter a noun:<input type="text" name="noun">
        <br>
        Write an adjective: <input type="text" name="adjective">
        <br>
        Write a person's name: <input type="text" name="person">
        <br>
        <input type="submit">
    </form>

</body>
</html>